<body>
  <!-- Sidenav -->
  <% include ../partials/faculty/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/faculty/header %>
    <!-- Page content -->
      <div class=" mt--7">
        <div class="">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Feedbacks (rated out of 5)</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Teaching Quality</th>
                    <th scope="col">Punctuality</th>
                    <th scope="col">Quizzes/Assignments</th>
                    <th scope="col">Comments</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Anonymous
                    </th>
                    <td>
                      4
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      not good
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Anonymous
                    </th>
                    <td>
                      2
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      .
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Anonymous
                    </th>
                    <td>
                      1
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      good
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Anonymous
                    </th>
                    <td>
                      4
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      no
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Anonymous
                    </th>
                    <td>
                      1
                    </td>
                    <td>
                      0
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                     Too good.
                    </td>
                  </tr>
                  <tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
